<% if current_user.blank? %>
  <h1>Welcome to Potluck</h1>
  <%= button_to 'Sign In with Facebook', '/auth/facebook', {class: 'uk-button-primary uk-button-large'} %>
<% else %>
  <p>You are signed in as <%= current_user.name %>. Click the button below to sign out.
  </p>
  <%= image_tag(current_user.image) %>
  <%= button_to 'Sign Out', signout_path, {method: :delete, class: 'uk-button'} %>
<% end %>