<% if current_user.blank? %>
  <h1>Please Sign In</h1>
  <%= link_to 'Sign In with Facebook', '/auth/facebook' %>
<% else %>
  <p>You are signed in as <%= current_user.name %>. Click the button below to sign out.
  </p>
  <%= image_tag(current_user.image) %>
  <%= button_to 'Sign Out', signout_path, method: :delete %>
<% end %>