<h1 class="uk-heading-primary">Upcoming Events</h1>

<ul class="uk-list">
  <% @events.each do |event| %>
    <li><%= link_to event.text, event %> - <%= event.date.strftime("%b %e, %l:%M %p") %></li>
  <% end %>
</ul>

