<div class="uk-text-center">
  <h1>Welcome to Potluck</h1>
  <h3><%= link_to "create an account", new_user_path %> or <%= link_to "sign in", login_path %> </h3>
  <a href="/auth/facebook"><button class='uk-button-primary uk-button-large'></span>Sign in with <span uk-icon="icon: facebook"></button></a>
</div>
