<div class="uk-text-center">
  <h1>Welcome to Potluck</h1>
  <a href="/auth/facebook"><button class='uk-button-primary uk-button-large'></span>Sign in with <span uk-icon="icon: facebook"></button></a>
</div>
